/* fonts family */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
}

/* navbar st */
.navbar {
  /* max-width: 1440px;
    margin: 0 auto; */
  margin: 50px 0 50px 0;
}
.navbar_container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  font-size: 28px;
  font-weight: 800;
  color: #0d1321;
}

.btn button {
  padding: 17px 24px;
  border-radius: 8px;
  border: 1px solid #0d1321;
  opacity: 0.8;
}

.btn button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #0d1321;
}

/* banner st */
#banner {
  background-image: url(../assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}
#banner .banner_container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

.banner_container .banner_contant {
  padding-top: 40px;
}

.banner_container .banner_contant h2 {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}

.banner_container .banner_contant p {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  padding: 30px 0px;
}

.banner_container .btn {
  padding: 24px 30px;
  border-radius: 8px;
  background: #0d1321;
}

.banner_container .btn a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
}
/* banner end */
